<div class="px-4 sm:px-10 py-6 sm:py-10">
    <h1 class="text-center w-full mb-6 text-2xl sm:text-3xl font-extrabold text-primary">{{ topicName }}</h1>
    <form [formGroup]="formGroup" class="w-full">
        <div formArrayName="question">
            <div
                *ngFor="let questionGroup of question?.controls; let i = index"
                [formGroupName]="i" class="my-6 bg-white border border-primary-100 rounded-xl shadow-sm p-6"
            >
                <h3 class="text-primary font-semibold mb-2">Question - {{ i + 1 }}</h3>
                <textarea class="w-full p-2 rounded-lg border border-primary-200 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent" formControlName="title"
                          placeholder="Title"></textarea>
                <ng-container [ngTemplateOutlet]="formValidations"
                              [ngTemplateOutletContext]="{questionGroup: questionGroup, fieldName: 'title'}"></ng-container>
                <div class="two-grid-layout">
                    <div>
                        <input class="{{optionsFieldCssString}}" type="text" formControlName="optionA"
                               placeholder="A" />
                        <ng-container [ngTemplateOutlet]="formValidations"
                                      [ngTemplateOutletContext]="{questionGroup: questionGroup, fieldName: 'optionA'}"></ng-container>
                    </div>
                    <div>
                        <input class="{{optionsFieldCssString}}" type="text" formControlName="optionB"
                               placeholder="B" />
                        <ng-container [ngTemplateOutlet]="formValidations"
                                      [ngTemplateOutletContext]="{questionGroup: questionGroup, fieldName: 'optionB'}"></ng-container>
                    </div>
                    <div>
                        <input class="{{optionsFieldCssString}}" type="text" formControlName="optionC"
                               placeholder="C" />
                        <ng-container [ngTemplateOutlet]="formValidations"
                                      [ngTemplateOutletContext]="{questionGroup: questionGroup, fieldName: 'optionC'}"></ng-container>
                    </div>
                    <div>
                        <input class="{{optionsFieldCssString}}" type="text" formControlName="optionD"
                               placeholder="D" />
                        <ng-container [ngTemplateOutlet]="formValidations"
                                      [ngTemplateOutletContext]="{questionGroup: questionGroup, fieldName: 'optionD'}"></ng-container>
                    </div>
                    <div>
                        <select class="{{optionsFieldCssString}}" name="correctAnswer" id="correctAnswer"
                                formControlName="correctAnswer">
                            <option value="" disabled>Correct Answer</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                        <ng-container [ngTemplateOutlet]="formValidations"
                                      [ngTemplateOutletContext]="{questionGroup: questionGroup, fieldName: 'correctAnswer'}"></ng-container>
                    </div>
                </div>
                <p-chips class="tags-chips block w-full my-2" formControlName="tags" separator=" "
                         placeholder="Type a tag and press space" [addOnBlur]="true" styleClass="w-full"></p-chips>
            </div>
        </div>
        <div class="flex justify-between mt-5">
            <button class="border border-primary rounded-lg p-2 text-primary font-bold hover:bg-primary hover:text-white transition-colors" (click)="addQuestion()">Add Question
            </button>
            <button class="rounded-lg p-2 bg-secondary text-primary-800 font-bold hover:bg-secondary-400 transition-colors" (click)="submitForm()">Submit
            </button>
        </div>

    </form>
</div>

<ng-template #formValidations let-questionGroup='questionGroup' let-fieldName='fieldName'>
    <div *ngIf="questionGroup.get([fieldName])?.touched">
        <div class="text-sm text-red-400"
             *ngIf="questionGroup.get([fieldName])?.hasError('required')">
            This field is required
        </div>
    </div>
</ng-template>
