<div class="flex justify-center flex-col mt-20 mb-1 ml-40 mr-40">
    <h1 class="flex w-full justify-center font-bold text-3xl">Reset Password</h1>

    <ng-container *ngIf="token; else invalidLink">
        <app-forms [formConfigs]="resetPasswordFormConfigs" (submitFormEvent)="submitResetPassword($event)"></app-forms>
    </ng-container>

    <ng-template #invalidLink>
        <p class="flex w-full justify-center my-5">This reset link is invalid. Please request a new one.</p>
        <button class="border p-2 rounded bg-gray-300 text-black my-5 font-bold" (click)="navigateToForgotPassword()">Request New Link</button>
    </ng-template>
</div>
