<div class="w-full px-10 my-10">
    <h2 class="mb-4 text-center text-3xl font-bold">{{ topicName }}</h2>
    <div class="flex flex-row w-full mb-4" *ngFor="let question of questionsList; index as i">
        <div class="flex pt-0.5">{{ i + 1 }}.</div>
        <div class="flex flex-col ml-4">
            <p class="flex text-lg">{{ question.title }}</p>
            <div class="two-grid-layout">
                <p class="text-sm" *ngFor="let option of question.options">
                    {{ option.key }}. {{ option.title }}
                </p>
            </div>
        </div>
    </div>
    <div class="text-center w-full">
        <p-progressSpinner *ngIf="showLoader" ariaLabel="loading" />
    </div>
    <ng-template *ngIf="showBanner; else questionListing">
        <p class="text-4xl">
            Welcome to MCQ4U. We assist you in preparing for exams with relevant topics so that you don't have to look any
            further than this
        </p>
    </ng-template>
    <ng-template #questionListing>
        <ng-template [ngIf]="isAdmin && !showBanner">
            <p *ngIf="!questionsList.length && !showLoader">This is still a fresh space. Add question to this topics.</p>
            <button class="border-2 mt-5 border-black rounded p-2 bg-white text-black text-sm"
                    (click)="redirectToCreateQuestion()">Add Questions
            </button>
        </ng-template>
        <ng-template [ngIf]="!isAdmin && !showBanner">
            <p *ngIf="!questionsList.length && !showLoader">No Questions added to this Topic by the Author</p>
            <button *ngIf="questionsList.length" class="border-2 mt-5 border-black rounded p-2 bg-black text-white text-sm"
                    (click)="redirectToAttemptQuestion()">Attempt Questions
            </button>
        </ng-template>
    </ng-template>
</div>
